.git
.github
.cache
data
runtime
artifacts
references
ioq3
patches
build/*
!build/dedicated/
!build/dedicated/ioq3ded
!build/dedicated/baseq3/
!build/dedicated/baseq3/vm/
*.pk3
*.PK3
node_modules
tests/artifacts
